[submodule "quiz-hub-client"]
	path = quiz-hub-client
	url = git@github.com:eranthaWELIKALA/Quiz-Hub-Client.git
[submodule "quiz-hub-server"]
	path = quiz-hub-server
	url = git@github.com:eranthaWELIKALA/Quiz-Hub-Server.git
